<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <section id="Product-Post">

        <h1>Products</h1>

        <form action="/products/create" id="new-product-form" method="POST">



            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" class="form-control" id="productName" aria-describedby="product" placeholder="Enter Product Name" name="productName">
   
              </div>
              <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input type="number" class="form-control" id="Quantity" placeholder="Quantity" name="qtyPerUnit">
              </div>
              <div class="form-check">
                <label class="form-check-label" for="Price" >Price</label>

                <input type="number" class="form-control" id="Price" name="unitPrice">
              </div>

              <div class="form-check">
                <label class="form-check-label" for="Stock">Stock</label>

                <input type="number" class="form-control" id="Stock" name="unitInStock">
              </div>




              <label class="form-check-label" >Category</label>

              <select class="form-control" aria-label="Default select example" name="categoryName">
                <option value="watch">Watch</option>
                <option value="MObile">Mobile</option>
              </select>
          
              <label class="form-check-label" >Product Discontinued</label>


              <select class="form-control" aria-label="Default select example" name="discontinued">
                <option value="false">False</option>
                <option value="true">True</option>
               
    
              </select>


              <button type="submit" value="Post" class="btn btn-primary">Submit</button>

        </form>



        </section>


        <div id="product-list-container">
          <ul>

            <% for(let product of products){ %>

        
             
              <li>

            
                <%= product.productName %>


                <!-- <div class="category">

                  <form action="/category/create" method="POST">
                
                    <label class="form-check-label" >Category</label>
                
                  
                    <select class="form-control" aria-label="Default select example" name="categoryName">
                      <option value="watch">Watch</option>
                      <option value="MObile">Mobile</option>
                    </select>
                
                    <input type="hidden" name ="product" value="<%=product._id %>">
                
                    <button type="submit" value="Post_Category" class="btn btn-primary">Submit</button>
                
                  </form>
                
                
                
                </div>
 -->



                </li>


            
            <%}%>

          </ul>
</div>




